<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%- include('partials/header.ejs')%>

    <title>Contact</title>
  </head>
  <body>
      <%- include('partials/nav.ejs', {page: 'contact', user})%>
    <h1>Contact</h1>

    <%- include('partials/scripts.ejs') %>

  </body>
</html>